<div class="text-center">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm.value)">
        <h1 class="text-center">Please sign in</h1>

        <input type="email" formControlName="email" class="form-control" placeholder="Email address" autofocus>

        <input type="password" formControlName="password" class="form-control" placeholder="Password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <label>Or</label>
        <button type="button" class="btn btn-lg btn-primary btn-block" routerLink="/signup">Sign Up</button>
        <button type="button" class="btn btn-lg btn-social btn-facebook btn-block text-center" (click)="socialSignIn('facebook')">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </button>
        <button type="button" class="btn btn-lg btn-social btn-google btn-block text-center" (click)="socialSignIn('google')">
            <span class="fa fa-google"></span> Sign in with Google
        </button>
    </form>
</div>